<div class="main-div">

  <h1>Tus listas</h1>
  <table mat-table [dataSource]="shops$">

    <ng-container matColumnDef="shop">
      <th mat-header-cell> Tienda </th>
      <td  class="row" mat-cell *matCellDef="let element" (click)="selectShop(element.id)"> {{element.name}}
        ({{element.products.length}})
        <button mat-icon-button color="primary" (click)="delete(element.id)" class="delete">
          <mat-icon class="right_icon">highlight_off</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <div class="btn">
    <mat-form-field class="form-field">
      <input matInput type="text" placeholder="Nueva tienda" [formControl]="formShop" />
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="addShop()">
      <mat-icon aria-hidden="false">add</mat-icon>
    </button>
  </div>
</div>
